
<div class="head" [ngClass]="getHeadClass()">
<div class="head-content">
    <div class="head-content-left">
        <div class="search-container">
            <div class="normal-search">
                <i class="fa fa-search search-icon"></i>
                <input type="search" class="search" name="" id="" placeholder="Search...">
            </div>
        </div>
    </div>
        <div class="head-content-right">
            <mat-slide-toggle [formControl]='switchTheme'>Theme</mat-slide-toggle>
            <!-- <div class="head-menu">
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple">
                        <i class="far fa-bell menu-icon"></i>
                    </button>
                </div>
            </div> -->
            
            <div class="head-user-avatar-container">
                <div class="head-user-avatar">
                    <button mat-button [matMenuTriggerFor]="menu"><a><img id="user" src="../../assets/userLogo.png"></a></button>
                    <mat-menu #menu="matMenu">
                        <a routerLink="/profile" mat-menu-item>Profile</a>
                        <button (click)="logout()">LogOut</button>
                    </mat-menu>
                    
                    <!-- <div class="circle-indicator pulse"></div> -->
                </div>
            </div>
            <!-- app.component.html -->
        </div>
</div>