<mat-card>
    <form (ngSubmit)="submitForm()" #formRef="ngForm" class="form-container">
      <h1>Enter Details for Admin Approval:</h1>
      <mat-form-field class="input-field">
        <mat-label>Enter Employee ID:</mat-label>
        <input matInput [(ngModel)]="employeeId" name="employeeId" required>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Enter Email ID:</mat-label>
        <input matInput [(ngModel)]="emailId" name="emailId" required>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Select Role</mat-label>
        <mat-select [(ngModel)]="selectedRole" name="selectedRole" required>
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="section-title"><strong>Business Unit:</strong></p>
      <div *ngFor="let businessUnit of businessUnits" class="business-unit-container">
        <mat-checkbox [checked]="businessUnit.selected" (change)="updateSelectedClients(businessUnit)">
          {{ businessUnit.name }}
        </mat-checkbox>
        <div *ngIf="businessUnit.selected" class="clients-container">
          <p class="section-title"><strong>Clients:</strong></p>
          <div *ngFor="let client of businessUnit.clients" class="client-checkbox">
            <mat-checkbox [checked]="selectedClients.includes(client)" (change)="updateSelectedClients(businessUnit, client)">
              {{ client }}
            </mat-checkbox>
            <div *ngIf="selectedClients.includes(client)" class="departments-container">
              <p class="section-title"><strong>Select Departments:</strong></p>
              <mat-checkbox *ngFor="let department of getDepartments(businessUnit, client)"
                [checked]="isSelectedDepartment(businessUnit, client, department)"
                (change)="updateSelectedDepartments(businessUnit, client, department)">
                {{ department }}
              </mat-checkbox>
            </div>
          </div>  
        </div>
      </div>
      <button color="primary" type="submit" style="background-color: #E91E63; color: #fff;">
        Submit
      </button>
    </form>
  </mat-card>

  