<!-- add-bench-candidate-dialog.component.html -->

<h2 mat-dialog-title>Bench Candidate</h2>
<div mat-dialog-content [formGroup]="newBenchCandidateForm">
  <!-- Add your form controls for bench candidate details here -->
  <mat-form-field>
    <mat-label>Candidate Name</mat-label>
    <input matInput formControlName="candidateName" name="candidateName" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <input matInput formControlName="candidateStatus" name="candidateStatus" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Skill Set</mat-label>
    <input matInput formControlName="benchCandidateSkills" name="benchCandidateSkills" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bench Period</mat-label>
    <input matInput formControlName="benchPeriod" name="benchPeriod" type="number" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>BM Employee Name</mat-label>
    <input matInput formControlName="benchManager" name="bench manager employee Id" name="benchManager" required>
  </mat-form-field>
  



</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()">Save</button>
</div>
